<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213336167553-o0ukid66962ccov8n6m65mgp8pfb2vr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213336167553-o0ukid66962ccov8n6m65mgp8pfb2vr4</string>
	<key>API_KEY</key>
	<string>AIzaSyDd4Kc14ML2YR5InzTksOBdOrutc3xQgow</string>
	<key>GCM_SENDER_ID</key>
	<string>213336167553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tahfeezApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tahfeez-3e366</string>
	<key>STORAGE_BUCKET</key>
	<string>tahfeez-3e366.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213336167553:ios:fac74ed33ba5f67eb02980</string>
</dict>
</plist>